body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Muli', sans-serif;
    margin: 0;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h4 {
    font-size: 18px;
}

a:link, a:visited {
    color: #D10029;
}

a:hover {
    text-decoration: none;
    color: #7F0019;
}

p{
    text-align: justify;
    font-family: 'Muli', sans-serif !important;
}

p span{
    text-align: justify;
    font-family: 'Muli', sans-serif !important;
}

p.lead {
    font-weight: normal;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

img {
    max-width: 100%;
}

.btn.btn-primary {
    background-color: #D10029;
    border: none;
}

.btn.btn-primary:hover {
    background: #7F0019;
    border-color: #7F0019;
}

.btn.btn-primary:focus, .btn.btn-primary:active,.btn.btn-primary:active:focus{
    background-color: #7F0019;
}

.form-control, .form-group .form-control {
    background-image: linear-gradient(#D10029, #D10029), linear-gradient(#D2D2D2,
    #D2D2D2) !important;
}

.navbar{
    background-color: #2C3E50;
}

.main-content, .main-sidebar{
    margin-top: 30px;
}


.well{
    background-color: white;
}

footer {
    background: #2C3E50;
    color: white;
    padding: 20px 0 10px;
    font-size: 12px;
}

.pagination li a{
    color: #000000;
}

.pagination li .active{
    background: #D10029;
    color: #FFFFFF;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    background: #7F0019;
    color: #FFFFFF;
}