body {
    margin-top: 100px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    color: #027702;
}

h1, h2 {
    margin: 0 0 20px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

a:link, a:visited {
    color: #D10029;
}

a:hover {
    text-decoration: none;
    color: #7F0019;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

img {
    max-width: 100%;
}

.btn.btn-primary {
    background-color: #027702;
    border: none;
}

.btn.btn-primary:hover {
    background: #005C00;
    border-color: #005C00;
}

.btn.btn-primary:focus, .btn.btn-primary:active,.btn.btn-primary:active:focus{
    background-color: #005C00;
}

.form-control, .form-group .form-control {
     background-image: linear-gradient(#027702, #027702), linear-gradient(#D2D2D2,
     #D2D2D2) !important;
 }

label{
    font-weight: bold !important;
    color: #027702 !important;
}

.navbar{
    background-color: #2C3E50;
}

ul.nav.navbar-nav.side-nav {
    margin-top: 19px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus{
    color: #fff;
    background-color: #566573;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2C3E50;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
    }
}

ul{
    list-style: none;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

div#file_input_text_div {
    width: auto;
    margin-top: -42px;
    margin-left: 35px;
}

.material-icons.orange600 { color: #FB8C00; }
.material-icons.md-25 {
    font-size: 25px !important;
    margin-right: 5px !important;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}