body {
    margin-top: 100px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 20px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

a:link, a:visited {
    color: #dd5638;
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

img {
    max-width: 100%;
}

.btn.btn-primary {
    background-color: #D10029;
    border: none;
}

.btn.btn-primary:hover {
    background: #7F0019;
    border-color: #7F0019;
}

.navbar{
    background-color: #2C3E50;
}

ul.nav.navbar-nav.side-nav {
    margin-top: 19px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus{
    color: #fff;
    background-color: #566573;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2C3E50;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #566573 !important;
    }
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
